@{
    ViewBag.Title = "bakuretsu!";
}

<div class="jumbotron">
    <h1>EKUSPUROSION</h1>
    <p class="lead">Upload your stuff</p>
    <p class="lead">Allowed file types - .png, .jpg, .gif, .webm, .mp4</p>
    <p><a href="https://youtu.be/vtsmlbQgdNk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <br />
    @{
        if (ViewBag.Error)
        {
            <div>
                <h2>@ViewBag.ErrorMessage</h2>
            </div>
        }
        else if (ViewBag.Uploaded)
        {
            <div>
                <p>File @ViewBag.Message uploaded!</p>
                <p>Here's the link to your file: INSERT LINK FROM API HERE</p>
            </div>
        }
    }
    <br />
    <div class="uploader">
        <p>Put your thing here:</p>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("file", "", new { @type = "file", @class = "btn btn-primary btn-lg" }) <br />
                <input type="submit" id="Submit" value="Upload" class="btn btn-primary btn-lg" />
            </div>
        }
    </div>
</div>